body {
    background-color: #3C0000;
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

#inicio {
    margin-top: 5vh;
}

h1 {
    color: #EBC369;
    text-align: center;
    font-size: 3em;
}

a {
    color: #d1d1d1;
    text-decoration: none;
    margin: 0;
}

.navegador-principal {
    background-color: #782D2D;
    color: #fff;
    min-width: 950px;
    width: 100%;
    text-align: center;
    position: fixed;
    top: 0;
    height: 5%;
    padding-left: 20px;
    display: flex;
    align-items: center;
}

.navegador-principal img {
    height: 90%;
    padding-right: 20px;
}

.accesos {
    width: 40%;
    display: flex;
    justify-content: space-around;
}

.panel {
    background-color: #B44641;
    width: 100%;
    height: fit-content;
    display: flex;
    padding-left: 3vh;
}

.panel h1 {
    color: #EBC369;
    font-family: 'Times New Roman', Times, serif;
    font-size: 2em;
}

.content {
    background-color: #F5A05F;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 1vh 0;
    padding: 1vh 0;
}

.content p,
.content h2,
.content h3,
.content ul,
.content li {
    margin: 0;
    color: #F5D7AF;
}

.content p {
    font-size: 1.2em;
    padding: 0vh 3vh;
}

.content h2,
.content h3 {
    padding: 0vh 3vh;
}

.content ul {
    font-size: 1.2em;
    padding: 0vh 3vh;
    list-style: none;
    display: flex;
}

.content li {
    font-size: 1em;
    padding: 0vh 1vh;
}

.content img,
video {
    width: 60%;
    height: auto;
    padding: 0vh 3vh;
}

.contenttitle{
    width: 100%;
    display: flex;
    padding-bottom: 10px;
}

.contentsubtitle {
    width: 100%;
    display: flex;
}

.contenttitle > h2,
.contentsubtitle > h2 {
    color: #F5D7AF;
    font-size: 1.5em;
    padding: 0vh 3vh;
    text-align: center;
    margin: 0;
}

.contenttitle > h3,
.contentsubtitle > h3 {
    color: #ffffff;
    font-size: 1em;
    height: max-content;
    background-color: #B44641;
    padding: 2px 10px;
    margin: auto 0;
    border-radius: 5px;
}

#contentexpandable {
    background-color: #F5A05F;
    width: 100%;
    height: 30px;
    display: flex;
    flex-direction: column;
    margin: 1vh 0;
    padding: 1vh 0;
    overflow: hidden;
    transition: height 1s;
}
